.subreddit-container {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 5px;
}

button.subreddit-button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #dae0e6;
  color: #1a1a1b;
  padding: 10px;
  font-size: medium;
  margin: 5px 5px;
  border-radius: 5px;
}

button.subreddit-button:hover {
  background-color: #c0c0c0;
}
button.subreddit-button:active {
  font-weight: bold;
}

button.subreddit-button-active {
  background-color: rgb(181, 169, 169) !important;
}

.subreddit-container h1 {
  margin: 15px auto;
}

button img.subreddit-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 15px;
}
