body {
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'header header header'
    'main main aside';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  grid-area: header;
  background-color: whitesmoke;
  border: 1px solid fuchsia;
  margin: 5px 5px;
}

header form {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  margin-left: 10px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}
